@import 'reset.css';
body {
    background: #ebebeb;
}

.m-content-warp2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: 999;
}

/*头部*/

header.m-header~div.m-content {
    padding-top: .88rem;
}

div.m-content {
    position: relative;
}

header.m-header {
    position: fixed;
    left: 0;
    top: 0;
    background: #22ac38;
    height: .88rem;
    line-height: .88rem;
    width: 100%;
    font-size: .32rem;
    z-index: 999;
}

header.m-header .iconfont {
    font-size: .32rem;
}

header.m-header h1 {
    margin: 0 .88rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: .3rem;
}

header.m-header .left-icon {
    position: absolute;
    left: 0rem;
    top: 0;
    width: .88rem;
    color: #fff;
    text-align: center;
}

header.m-header .right-icon {
    position: absolute;
    right:0;
    top: 0;
    width: .88rem;
    color: #fff;
    text-align: center;
}


/*表格布局*/

.g-table-fix,
.g-table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.g-table-fix {
    table-layout: fixed;
}

.g-row {
    display: table-row;
}

.g-cell {
    display: table-cell;
}


/*列表布局*/

.g-list {
    padding: .2rem .3rem;
    margin-bottom: .3rem;
}


/*flex布局*/

.flex-box {
    display: -moz-box;
    /*Firefox*/
    display: -webkit-box;
    /*Safari,Opera,Chrome*/
    display: box;
}

.flex-1 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}


/*边框*/

.m-border,
.m-border-tb {
    border-bottom: 1px solid #e7e7e7;
}

.m-border-tb {
    border-top: 1px solid #e7e7e7;
}

.m-border-right {
    border-right: 1px solid #e7e7e7;
}


/*tab选项*/

.m-tab {
    position: relative;
    height: .8rem;
    line-height: .8rem;
    background: #fff;
}

.m-filter-updown {
    position: relative;
    margin-left: .2rem;
}


/* 渐入菜单 */

ul.m-menu-drop {
    position: fixed;
    top: .88rem;
    right: 1px;
    background: #fff;
    z-index: 1000;
    border: 1px solid #c7c7c7;
    font-size: .3rem;
    z-index: 1000;
}

ul.m-menu-drop li {
    line-height: .8rem;
    height: .8rem;
    padding: 0 .6rem 0 .3rem;
}

ul.m-menu-drop li:active {
    background: #fafafa;
}
ul.m-menu-drop li .iconfont{
    font-size: .3rem;
}

